
/*
Diseño y Evaluación de Sistemas Interactivos - Curso 2022-2023
Javier Abad Hernández
Proyecto de Visualización: Consumo y Precios de Combustibles en España.
--------------------------------------------------------------
Estilos CSS del proyecto
*/

/* Descargar tipografía IBM Plex Mono */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

/* Estilos globales */
* {
  font-family: 'Helvetica';
}

h1 {
  text-align: center;
}

a {
  color: #666666;
}


/* Tabs */
#tabs {
  width: 100%;
  height: 30px;
  border-bottom: solid 1px #ccc;
  padding-right: 2px;
  margin-top: 10px;
}

a {
  cursor: pointer;
}

#tabs li {
  float: left;
  list-style: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-right: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  outline: none;
}

#tabs li a {
  font-family: 'Helvetica';
  font-size: 10px;
  font-weight: bold;
  color: black;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 8px;
  display: block;
  background: gray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-decoration: none;
  outline: none;
}

#tabs li a.inactive {
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  color: #666666;
  background: #eee;
  outline: none;
  border-bottom: solid 1px #ccc;
}

#tabs li a.inactive:hover {
  color: black;
  outline: none;
}


#tab1C{
  display: flex;
}

#tab2C{
  display: block;
}


.container {
  clear: both;
  width: 100%;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  text-align: left;
  padding-top: 20px;
}
.container h2 {
  text-align: center;
  color: green;
}

.container h5 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.container p {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.3;
  font-size: small;
}




/* Tab 1 */


#grupo1 {
  display: block;
  width: 85%;
  margin-bottom: 35px;
  float:left;
  
}
#tabla {
  display: block;
  margin-left: 50px;
  width:15%;
  float:right
}


#tituloh2{
  text-indent: 18em;

}
#serie {
  flex: 1;
}

#checksTerminos1 {
  padding-left: 0px;
  padding-right: 30px;
  margin-top: 0;
}

#grupo1 h4 {
  margin-bottom: 0px;
  font-size: 20px;
}

#leyendaTermino {
  padding-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}



div.puntosSerie {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  font-size: 0.7rem;
}

option {
  padding: 0;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode:horizontal-tb;
  width: 80%;
  height: 71%;
  float: right;
  font-size: small;


}
.slider{
  width: 100%;
  height: 71%;
  background: linear-gradient(to right, #6b8dff 0%, red 0%, white 0% , white 100%);

}

.slider-container{
  width: 100%;
  height: 100%;

  display: block;
  align-items: center;
  justify-content: center;
  
}

#Slider {
  width: 70%;
  padding-left: 10px;
  margin: 5% 1% 0% 15%;
	float: left;
}

#year {
  margin: 0;
  padding: 0;
  appearance: slider-vertical;
  transform: rotate(180deg);
  width: 20px;
}


.col-sm-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}

/* Tab 2 */
#selecTerminos {
  display: flex;
  width: 20%;
  align-items: center;
  align-self: center;
  margin: 0 auto;
}

#radiosTerminos2 {
  padding-left: 0px;
  padding-right: 20px;
  width: 75%;
}




#grupo4 {
  margin-top: 60px;
  margin-bottom: 35px;
  width: 75%;
	float: left;
}
#grupo5 {
  margin-top: 60px;
  margin-bottom: 35px;
  width: 25%;
  height: 70%;
	float: right;
}

.tooltip {
  position: absolute;
  text-align: center;
  max-width: 100px;
  max-height: 80px;
  padding: 2px;
  border-left: solid black;
  border-right: solid  black;
  border-bottom: solid black;
  border-top: solid black;

  border-width:thin;
  border-color: black;
  border-radius: 8px;
  font-size: 10px;
  color: black;
  background: white;
  pointer-events: none;
}

#Slider2 {
  height: 10%;
  padding-left: 30px;
  margin: 10% 1% 0% 0%;
}
#añoMes{
  font-weight: bold;
}
#mes{
  padding-bottom: 0px;
}

#actYear2{
  font-weight: bold;
}




/* Footer */
footer {
  text-align: center;
  padding: 3px;
  width: 100%;
  color: black;
}

#footer p {
  font-size: small;
}



td {	
  padding:0;
  width: 100%;
  height: 10%;
}


#modoOscuro {
  padding-left: 30px;
  list-style: none;
  font-size: small;
}

#piepagina{
  margin-top:25px
}

